<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.dizae"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Dizae" >

        <!-- Splash screen -->
        <activity
            android:name="br.com.dizae.gui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name="br.com.dizae.gui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="br.com.dizae.gui.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="br.com.dizae.gui.GerarOcorrenciaActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_gerar_ocorrencia" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.dizae.gui.MainActivity" />
        </activity>
         <activity
	        android:name="com.facebook.LoginActivity"
	        android:label="@string/title_activity_login" >
    	</activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>
